body {
	margin: 20px;
	padding: 0;
	background: #F0FFFF;
}

.game_area{
	width: 980px;
	margin: 0 auto;
}

.welcome_area{
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #704B3A;
}

.battle_area{
	margin-top: 50px;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #704B3A;
}

.userCell{
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #97FFFF;
	border-left: 1px dashed #000000;
	border-right: 1px dashed #000000;
	border-bottom: 1px dashed #000000;
	border-top: 1px dashed #000000;
}

.shipCell{
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #FFD700;
	border-left: 1px dashed #000000;
	border-right: 1px dashed #000000;
	border-bottom: 1px dashed #000000;
	border-top: 1px dashed #000000;
}