#playerField .deck {
	background: black; 
}

#aiField .deck, .sea {
	background: #00BFFF; 
}

#playerField div, #aiField div {
	width: 20px;
	height: 20px;
	float: left;
}

#playerField, #aiField {
	width: 200px; 
	height: 200px; 
	float: left;
	margin: 10px; 
}

.hit{
	background: red;
}

.o{
	background: #778899;
}